.flashcard {
    width: 182px;
    height: 40px;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 5px;

    font-family: 'Recursive';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    color: #333333;
    padding: 0 6px;
}

.flipped {
    width: 182px;
    min-height: 80px;
    height: auto;

    background-color: #FFFFD5;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #333333;

    display: flex;
    flex-flow: column nowrap;
    padding: 13px 6px 3px 6px;

}

.flipped > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.flipped > p {
    width: 100%;
    text-align: left;
}

.flashcard > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.flashcard > ul button{
    display: flex;
    flex-flow: row nowrap;
    width: 55px;
    height: 24px;
    border-radius: 5px;

    font-family: 'Recursive';
    font-weight: 400;
    font-size: 7px;
    line-height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    box-sizing: border-box;
}

.background-color-red {
    background-color: #FF3030;
    border-color: #FF3030;
}

.background-color-yellow {
    background-color: #FF922E;
    border-color: #FF922E;
}

.background-color-green {
    background-color: #2FBE34;
    border-color: #2FBE34;
}

.wrong-answer {
    color: #FF3030;
    text-decoration: line-through;
}

.almost-right-answer {
    color: #FF922E;
    text-decoration: line-through;
}

.right-answer {
    color: #2FBE34;
    text-decoration: line-through;
}