header[class='tela2'] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

figure[class='tela2'] {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

img[class='tela2'] {
    width: 26px;
    height: 30px;
}

figcaption[class='tela2'] {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.012em;

    color: #FFFFFF;

    transform: rotate(0.58deg);
}