html {
    border: 1px solid #DBDBDB;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
    font-family: 'Recursive';
    overflow-y: scroll;
}

.App {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 87px;
    padding-top: 95px;
}

button {
    cursor: pointer;
}